.full-popup {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 25px;
    padding: 30px 0;
} 

.message-selection-buttons {
    width: 300px;
    height: 200px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

p {
    padding: 10px 0;
    color: whitesmoke;
    margin: auto;
}


.btn {
    width: 250px;
    height: 40px;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    margin: auto;
  }
  
  .btn:hover {
    background-color: rgba(81, 81, 81, 0.866);
    cursor: pointer;
  }

  .btn:active {
    background-color: rgba(62, 62, 62, 0.866);
    cursor: pointer;
  }

  .btn-selected {
    background-color: rgba(81, 81, 81, 0.866);
  }