.full-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-image: url("../../../../assets/img/background-01_2.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 500px;
    height: 100vh;
    color: whitesmoke;
}
.popup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.484);
  }
  .container-text {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }
  .text {
    width: 450px;
    height: 100vh;
    background-color: transparent;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 5px 5px 5px black;
    text-align: justify;
    transform: translateX(100%);
    animation: slide-from-down-to-up 60s linear infinite;
  }

  .footer-text {
    padding: 40px 20px;
    font-size: 30px;
    text-align: center;
  }

  @keyframes slide-from-down-to-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-140%);
    }
  }