<div class="full-page">

    <div class="popup"></div>

    <div class="container-text">
    <div class="text" 
    [ngStyle]="{ 'animation-delay': delaySecondsBeforeTextAnimation + 's' }">
        <p>
            Auto Place Market est une plateforme innovante
             de vente de véhicules d'occasion qui facilite
              les transactions entre particuliers. En tant qu'utilisateur,
              vous avez la possibilité de vous
                inscrire sur l'application et de poster
                 votre annonces pour vendre une voiture en
                  toute simplicité. Les acheteurs potentiels
                   peuvent parcourir une large sélection de
                    véhicules d'occasion disponibles à l'achat.
                     Une caractéristique distinctive de
                      l'application est qu'elle offre deux
                       options aux acheteurs. D'une part, ils
                        peuvent contacter directement le propriétaire
                         du véhicule en consultant son numéro de téléphone
                          sur l'annonce, leur permettant ainsi de convenir
                           d'un rendez-vous pour l'inspection ou un essai routier.
                            D'autre part, pour ceux qui préfèrent une approche
                             plus anonyme, l'application offre la possibilité
                              d'acheter directement le véhicule sur la plateforme,
                               préservant ainsi leur confidentialité. Auto Place Market
                                vise à rendre le processus d'achat et de vente de véhicules
                                 d'occasion plus pratique et sécurisé pour tous les
                                  utilisateurs.
        </p>
        <p class="footer-text">Auto Place Market</p>
    </div>
</div>

</div>
