.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  background-image: url("../../../../assets/img/concept-page-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 100vh;
  color: whitesmoke;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.484);
}

.container-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.text {
  width: 450px;
  height: 100vh;
  background-color: transparent;
  color: whitesmoke;
  font-size: 25px;
  text-shadow: 5px 5px 5px black;
  text-align: justify;
  transform: translateX(100%);
  animation: slide-from-down-to-up 60s linear infinite;
}

@keyframes slide-from-down-to-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-140%);
  }
}
