<main class="card">
  <div class="container-favoris-and-user">
    <div class="container-favorite" title="Mettre en favoris ?">
      <app-ui-favorite-icon
        id="favorite-icon"
        [isFavorite]="isFavorite"
        (click)="toggleFavorite()"
      ></app-ui-favorite-icon>
    </div>

    <p class="timestamp">Posté le {{ card.timestamp | date : "dd/MM/yyyy" }}</p>
  </div>

  <div *ngIf="card.picturesList.length > 0">
    <div>
      <img [src]="firstPictureSrc" alt="Image" />
    </div>
  </div>

  <div id="title" class="cardChild-elements">{{ card.title }}</div>
  <div class="container-door-fuel-transmission-year">
    <li id="door" class="cardChild-elements">{{ card.door }} Portes</li>
    <li id="fuel" class="cardChild-elements">{{ card.fuel }}</li>
    <li id="transmission" class="cardChild-elements">
      {{ card.transmission }}
    </li>
    <li id="year" class="cardChild-elements">{{ card.year }}</li>
  </div>

  <div class="container-kilometer-price">
    <div id="kilometer" class="cardChild-elements">
      {{ card.kilometer.toLocaleString() }}
      <span id="km">Km</span>
    </div>
    <div id="price" class="cardChild-elements">
      {{ card.price.toLocaleString() }}
      <span>€</span>
      <span id="ttc">TTC</span>
    </div>
  </div>

  <div class="container-btn" title="Voir en détail ?">
    <app-ui-button
      id="button"
      [routerLink]="['/car-detail', card.id]"
      buttonName="En savoir plus"
      [isButtonEnabled]="true"
    ></app-ui-button>
  </div>
</main>

<div
  class="container-card-operation-status"
  *ngIf="
    isCardFavoriteAdded ||
    isCardFavoriteAddedError ||
    isCardFavoriteDelete ||
    isCardFavoritedDeleteError ||
    isUserLoggedInForAddFavorite
  "
>
  <app-feat-card-operation-status
    class="card-operation-status"
    [isCardFavoriteAdded]="isCardFavoriteAdded"
    [isCardFavoriteAddedError]="isCardFavoriteAddedError"
    [isCardFavoriteDelete]="isCardFavoriteDelete"
    [isCardFavoritedDeleteError]="isCardFavoritedDeleteError"
    [isUserLoggedInForAddFavorite]="isUserLoggedInForAddFavorite"
    [class.card-operation-status-animate]="
      isAnimationPopupCardOperationStatusActive
    "
  >
  </app-feat-card-operation-status>
</div>
