<div class="full-container">
  <div class="filter">
    <div>
      <input
        type="text"
        name="input-search"
        id="input-search"
        placeholder="Rechercher par titre"
        [(ngModel)]="titleValueInSearchInput"
        title="Rechercher par titre"
      />

      <app-ui-search-icon
        class="search-icon"
        (click)="filterCardsByTitle()"
      ></app-ui-search-icon>
    </div>

    <div>
      <input
        type="number"
        name="input-price"
        id="input-price"
        placeholder="Par prix"
        [ngModel]="valueInPriceInput !== 0 ? valueInPriceInput : null"
        (ngModelChange)="valueInPriceInput = $event"
      />

      <app-ui-search-icon
        class="search-icon"
        (click)="filterCardsByPrice()"
      ></app-ui-search-icon>
    </div>

    <div>
      <input
        type="number"
        name="input-kilometric"
        id="input-kilometric"
        placeholder="Kilomètrage"
        [ngModel]="valueInKilometricInput !== 0 ? valueInKilometricInput : null"
        (ngModelChange)="valueInKilometricInput = $event"
      />

      <app-ui-search-icon
        class="search-icon"
        (click)="filterCardsByKilometric()"
      ></app-ui-search-icon>
    </div>
  </div>
</div>

<div class="full-no-cards-found-popup">
  <app-feat-no-cards-found-popup
    *ngIf="isNoCardFoundPopupDisplay"
    [notFoundMessage]="notFoundMessage"
  ></app-feat-no-cards-found-popup>
</div>
