<div class="full-form">

<form>

<div>
    <svg (click)="onCancelSignUpForm()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M18 6L6 18M6 6l12 12" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <h2 name="connexion">Je me connecte</h2>

    <label for="user-email">Email</label>
    <input type="email" name="user-email" id="user-email" [(ngModel)]="userAuth.email" placeholder="Taper votre email">

    <label id="label-password" for="user-password">Mot de passe</label>
    <input type="password" name="user-password" id="user-password"  autocomplete="on" [(ngModel)]="userAuth.password" placeholder="Taper votre mot de passe">    
    
    <button type="submit" (click)="onSubmitAuth()">Connexion</button>
    
</div>

</form>

</div>

<div class="container-status">
    <div class="track-states-container">
      <app-track-http-status class="track-item"></app-track-http-status>
      <app-track-token-state class="track-item"></app-track-token-state>
    </div>

</div>


