<div class="container-head">


  <button class="btn-head" (click)="clearToken()">Déconnexion</button>


  <div class="container-title">
    <h1>Bienvenue dans ton espace</h1>
      <div class="lastname-firstname">
        <span>{{ lastname }}</span>
        <span>{{ firstname }}</span>
      </div>
  </div>

  <button class="btn-nav" (click)="loadFavoriteCardList()">Mes favoris</button>

</div>

<div class="card-list">

  <div *ngFor="let card of (filteredCardListCreatedByUser.length > 0 ? filteredCardListCreatedByUser : cardListCreatedByUser); let i = index">
    <app-feat-card-user
    [card]="card"
    ></app-feat-card-user>
  </div>

</div>

<div class="favorite-card-list" *ngIf="isFavoriteListOpen">

  <div *ngFor="let card of favoriteCardList">
    <app-feat-card 
    [card]="card"
    ></app-feat-card>
  </div>

</div>
