<div class="full-page">

<div class="container-head">

  <div class="container-title">
    <h1>Bienvenue dans ton espace</h1>
    <div class="lastname-firstname">
      <span>{{ lastname }}</span>
      <span>{{ firstname }}</span>
    </div>
  </div>
  
  <div>
    <nav>
      <ul>
        <div class="dropdown">
          <button class="dropdown-button">Paramètres de compte</button>
          <div class="dropdown-content">
            <li *ngFor="let dropDownAccountMenuItem of dropDownAccountMenuItems">
              <a (click)="onDropdownAccountMenuItemClick(dropDownAccountMenuItem)">{{ dropDownAccountMenuItem.label }}</a>
            </li>
          </div>
        </div>   
        <div class="dropdown">
          <button class="dropdown-button">Mes messages</button>
          <div class="dropdown-content">
            <li *ngFor="let dropDownMessageMenuItem of dropDownMessageMenuItems">
              <a (click)="onDropdownMessageMenuItemClick(dropDownMessageMenuItem)">{{ dropDownMessageMenuItem.label }}</a>
            </li>
          </div>
        </div>  
         <li *ngFor="let menuItem of mainMenuItems">
           <a class="btn-nav" (click)="onMainMenuItemClick(menuItem)">{{ menuItem.label }}</a>
         </li> 
      </ul>
    </nav>
  </div>

</div>


<app-feat-card-list
*ngIf="isUserCardListOpen" 
class="container-card-list"
[isUserCardListOpen]="isUserCardListOpen"
>
</app-feat-card-list>


<app-feat-card-list
*ngIf="isFavoriteListOpen" 
class="container-card-list"
[isFavoriteListOpen]="isFavoriteListOpen"
[favoriteCardList]="favoriteCardList"
>
</app-feat-card-list>


<app-feat-confirm-delete-current-user-popup
*ngIf="isConfirmDeleteCurrentUserPopupOpen"
(onisConfirmDeletePopupEmit)="onRecevedMethodForCloseConfirmDeleteUserPopup($event)"
>
</app-feat-confirm-delete-current-user-popup>


<app-feat-edit-card-form 
class="edit-card-form"
*ngIf="isEditCardFormOpen"
[createMode]="true"
(onCloseEditCardFormEmit)="onRecevedMethodForCloseEditCardForm($event)"
></app-feat-edit-card-form>


<app-feat-contact-popup
class="contact-form"
*ngIf="isContactPopupFormOpen"
(onCloseContactPopupFormEmit)="onRecevedMethodForCloseContactForm($event)"
>
</app-feat-contact-popup>


<app-feat-message-user
*ngIf="isUserMessageListOpen"
>
</app-feat-message-user>

</div>

