<div class="full-page">

<div class="container-head">

  <div class="container-title">
    <h1>Bienvenue dans ton espace</h1>
    <div class="lastname-firstname">
      <span>{{ lastname }}</span>
      <span>{{ firstname }}</span>
    </div>
  </div>
  
  <div>
    <nav>
      <ul>
        <li *ngFor="let menuItem of mainMenuItems">
          <a class="btn-nav" (click)="onMainMenuItemClick(menuItem)">{{ menuItem.label }}</a>
        </li>

        <div class="dropdown">
          <button class="dropdown-button">Paramètres de compte</button>
          <div class="dropdown-content">
            <li *ngFor="let dropDownAccountMenuItem of dropDownAccountMenuItems">
              <a (click)="onDropdownAccountMenuItemClick(dropDownAccountMenuItem)">{{ dropDownAccountMenuItem.label }}</a>
            </li>
          </div>
        </div>   

        <div class="dropdown">
          <button class="dropdown-button">Messages</button>
          <div class="dropdown-content">
            <li *ngFor="let dropDownMessageMenuItem of dropDownMessageMenuItems">
              <a (click)="onDropdownMessageMenuItemClick(dropDownMessageMenuItem)">{{ dropDownMessageMenuItem.label }}</a>
            </li>
          </div>
        </div>   
      </ul>
    </nav>
  </div>

</div>

<div 
*ngIf="isUserCardListOpen" 
class="container-card-list">

  <p *ngIf="cardListCreatedByUser.length === 0" class="card-list-title">Pas de voiture</p>
  <p *ngIf="cardListCreatedByUser.length === 1" class="card-list-title">Ma voiture mise en ligne</p>
  <p *ngIf="cardListCreatedByUser.length > 1" class="card-list-title">Mes voitures mises en ligne</p>

  <div class="card-list">
  <div *ngFor="let card of (filteredCardListCreatedByUser.length > 0 ? filteredCardListCreatedByUser : cardListCreatedByUser); let i = index">
    <app-feat-card-user
    [card]="card"
    ></app-feat-card-user>
  </div>
</div>
</div>

<div 
*ngIf="isFavoriteListOpen" 
class="container-favorite-card-list">

<p *ngIf="favoriteCardList.length === 0" class="card-list-title">Pas de voiture dans les favoris</p>
<p *ngIf="favoriteCardList.length === 1" class="card-list-title">Mon coup de coeur</p>
<p *ngIf="favoriteCardList.length > 1" class="card-list-title">Mes coups de coeur</p>

  <div 
  class="favorite-card-list" 
  *ngFor="let card of favoriteCardList">
    <app-feat-card-favorite 
    [card]="card"
    ></app-feat-card-favorite>
  </div>

</div>

<app-feat-confirm-delete-current-user-popup
*ngIf="isConfirmDeleteCurrentUserPopupOpen"
(onisConfirmDeletePopupEmit)="onRecevedMethodForCloseConfirmDeleteUserPopup($event)"
>
</app-feat-confirm-delete-current-user-popup>

<app-feat-edit-card-form 
class="edit-card-form"
*ngIf="isEditCardFormOpen"
[createMode]="true"
(onCloseEditCardFormEmit)="onRecevedMethodForCloseEditCardForm($event)"
></app-feat-edit-card-form>

<app-feat-contact-popup
class="contact-form"
*ngIf="isContactPopupFormOpen"
(onCloseContactPopupFormEmit)="onRecevedMethodForCloseContactForm($event)"
>
</app-feat-contact-popup>

<app-feat-message-user
*ngIf="isUserMessageListOpen"
>
</app-feat-message-user>
</div>

