<div class="full-page">


        <div class="container-title">
            <p>Vos informations personnelles</p>
        </div>

        <div class="container-description-text">
            <p>Si vous le souhaitez, vous pouvez modifier vos données insérées lors de votre inscription sur le site</p>
        </div>
        
        <div class="container-user-datas">
            <table>
                <tr>
                  <th>Prénom</th>
                  <td>{{ user.firstname }}</td>
                  <td><button title="modifier le prénom ?" class="edit-button" (click)="onUpdateFirstname()">Modifier le prénom</button></td>
                </tr>
                <tr>
                  <th>Nom</th>
                  <td>{{ user.lastname }}</td>
                  <td><button title="modifier le nom ?" class="edit-button" (click)="onUpdateLastname()">Modifier le nom</button></td>
                </tr>
            </table>
        </div>

        <div class="container-btn-password">
           <button class="btn-update-password">Changer mon mot de passe</button>
        </div>

    </div>



<app-feat-update-information-form
*ngIf="isUpdateinformationFormOpen"
(onUpdateinformationFormOpen)="onForCloseUpdateinformationForm($event)"
[user]="user"
[dataToUpdate]="dataToUpdate"
></app-feat-update-information-form>

<div 
class="container-loader" 
*ngIf="isLoadingComposantActive">
  <app-feat-loader></app-feat-loader> 
</div>