* {
  font-family: Helvetica, sans-serif;
}

.cardChild-elements {
  padding: 5px;
}

.card {
    width: 350px;
    border-radius: 5px;
    background-color: whitesmoke;
  }
.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.284);
    transition: 100ms;
}

  .container-delete-and-favorite {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 180px;
}

.svg-delete {
   color: rgb(38, 38, 38);
   padding: 5px 10px;
}
.svg-delete:hover {
    scale: 1.1;
    color: red;
 }

 .svg-favorite {
  stroke: red;
 }

  img {
    width: 100%;
    height: 240px;
  }

  li {
    list-style: none;
}

#title {
  font-size: 20px;
  padding: 10px 10px;
  color: rgb(64, 64, 64);
}
#resume {
  font-size: 16px;
  padding: 10px 10px;
  color: rgb(64, 64, 64);
}
.container-kilometer-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
#kilometer {
  font-size: 18px;
  font-family: 'sans-serif';
  color: rgb(64, 64, 64);
}
span {
  font-size: 16px;
  color: rgb(64, 64, 64);
}
#price {
  font-size: 23px;
  color: rgb(0, 145, 198);
  font-family: 'sans-serif';
}
#user {
  font-size: 15px;
  padding: 0 10px;
  color: rgb(64, 64, 64);
}
.container-btn {
  display: flex;
  justify-content: center;
}