<app-feat-confirm-delete-popup
*ngIf="isConfirmDeletePopup"
(onisConfirmDeletePopupEmit)="onRecevedMethodForCloseConfirmDeletePopup($event)"
[cardChild]="cardChild"
>
</app-feat-confirm-delete-popup>


<div class="card">

  <div class="container-btn">
    <button
    (click)="openConfirmDeletePopup()" 
    class="btn"
    >Supprimer cette carte
    </button>
  </div>

    <div>
      <img 
      [src]="cardChild.image" 
      alt="Image"
      ></div>
    <div
    id="title"
    class="cardChild-elements"
    >{{ cardChild.title }}
  </div>

  <div class="container-door-fuel-transmission-year">
    <li
    id="door"
    class="cardChild-elements"
    >{{ cardChild.door }} Portes
  </li>
  <li 
    id="fuel"
    class="cardChild-elements"
    >{{ cardChild.fuel }}
  </li>
  <li 
    id="transmission"
    class="cardChild-elements"
    >{{ cardChild.transmission }}
  </li>
  <li 
  id="year"
  class="cardChild-elements"
  >{{ cardChild.year }}
</li>
</div>

<div class="container-kilometer-price">
  <div
    id="kilometer"
    class="cardChild-elements"
    >{{ cardChild.kilometer }} 
    <span>Km</span>
  </div>
  <div
   id="price"
   class="cardChild-elements"
   >{{ cardChild.price }}
   <span>€</span>
  </div>
</div>



  <div class="container-btn">
    <button 
    class="btn"
    (click)="openEditDialogue()"
    >{{ isCardEditFormToggle ? 'Fermer' : 'Modifier'}}
   </button>
  </div>

</div>

<app-feat-edit-card-form 
*ngIf="isCardEditFormToggle"
(isCardEditFormToggle)="toggleCardEditForm($event)"
[card]="cardChild"
></app-feat-edit-card-form>


