.full-page {
  position: relative;
  overflow: hidden;
  min-height: 93vh;
}
  .container-cardList {
    opacity: 1;
    z-index: 1;
  }

  .track-http-status {
    position: fixed;
    top: 10px;
    left: -350px; 
  }


  .track-http-status-animate {
    animation: slideInAndOut 4s forwards;
    }
  
  
    @keyframes slideInAndOut {
      0%, 100% {
        left: -350px; 
      }
      15% {
        left: calc(1%);
      }
      85% {
        left: calc(1%);
      }
    } 
