.container-title {
    padding: 20px;
    margin: 20px;
}

h1 {
    width: 300px;
    font-size: 40px;
    padding: 20px;
    font-family: cursive;
    font-style: italic;
    border: 1px solid rgba(0, 0, 0, 0.504);
    border-radius: 20px;
}