.container-create-card {
    width: 150px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.438);
}
button:hover {
    cursor: pointer;
    transition: all 300ms;
    scale: 1.1;
}

.card-list {
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px 0;
}


