<div class="full-page">

  <div class="container-head">

    <div class="container-title">
      <h1>Espace Administrateur</h1>
        <div class="container-firstname-lastname">
          <h2>{{ firstname }}</h2>
          <h2>{{ lastname }}</h2>
        </div>
    </div>

    <div>
      <nav>
        <ul>
          <li *ngFor="let menuItem of mainMenuItems">
            <a class="btn-nav" (click)="onMainMenuItemClick(menuItem)">{{ menuItem.label }}</a>
          </li>
          <div class="dropdown">
            <button class="dropdown-button">Mes messages</button>
            <div class="dropdown-content">
              <li *ngFor="let dropDownMessageMenuItem of dropDownMessageMenuItems">
                <a (click)="onDropdownMessageMenuItemClick(dropDownMessageMenuItem)">{{ dropDownMessageMenuItem.label }}</a>
              </li>
            </div>
          </div>  
        </ul>
      </nav>
    </div>
    
  </div>
  

  <app-feat-search 
  *ngIf="isAdminCardListOpen"
  ></app-feat-search>


  <app-feat-card-list
  *ngIf="isAdminCardListOpen" 
  class="container-card-list"
  [isAdminCardListOpen]="isAdminCardListOpen"
  ></app-feat-card-list>


  <app-feat-get-user-datas
  *ngIf="isGetDataOpen"
  class="container-user-search"
  ></app-feat-get-user-datas> 


  <app-feat-received-messages
  *ngIf="isUserReceivedMessageListOpen"
  ></app-feat-received-messages>
 

  <app-feat-message-history
  *ngIf="isUserSentMessageListOpen"
  ></app-feat-message-history>


  <!-- <app-feat-contact-popup
  class="contact-form"
  *ngIf="isContactPopupFormOpen"
  (onCloseContactPopupFormEmit)="onRecevedMethodForCloseContactForm($event)"
  ></app-feat-contact-popup> -->

  
  </div>
