.full-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.827);
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

h2,
h3 {
  text-align: center;
  padding: 15px;
  color: rgba(245, 245, 245, 0.803);
  letter-spacing: 1px;
}

.all-elements {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  gap: 70px;
}

.container-upload {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.container-img-upload {
  width: 360px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(128, 128, 128, 0.541);
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 10px;
}
.container-img-upload::-webkit-scrollbar {
  height: 10px;
}

img {
  margin-top: 50px;
  height: 180px;
}

.svg-delete-picture {
  position: relative;
  bottom: 180px;
  left: 205px;
  background-color: rgba(0, 0, 0, 0.73);
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.container-ngx-dropzone {
  display: flex;
  flex-direction: column;
}

label {
  color: rgba(245, 245, 245, 0.803);
  font-size: large;
  letter-spacing: 1.5px;
  margin: auto;
}

.ngx-dropzone {
  border: 2px dashed rgba(128, 128, 128, 0.541);
  border-radius: 10px;
  background-color: transparent;
  width: 354px;
  height: 200px;
  margin: auto;
}

.upload-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}
.upload-icon:hover {
  background-color: rgb(62, 62, 62);
  transition: ease-in-out 100ms;
}

.upload-icon span {
  color: whitesmoke;
  font-size: 27px;
}

.container-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.6;
}

.container-loader {
  position: absolute;
  top: 0;
  left: 0;
}

.card-operation-status {
  position: absolute;
  top: 0;
  left: 0;
}
