.container-status {
    width: 100%;
}

#errorMessage {
    width: 100%;
    color: red;
    text-align: center;
}
#succesMessage {
    width: 100%;
    color: rgb(0, 175, 0);
    position: relative;
    left: 40%;
} 