.container-status {
    position: absolute;
    top: 150px;
    left: 520px;
    width: 500px;
    z-index: 2;
}

#errorMessage {
    text-align: center;
    color: red;
    text-align: center;
}
#succesMessage {
    text-align: center;
    color: rgb(0, 175, 0);
    text-align: center;
} 