<app-feat-confirm-delete-popup
  *ngIf="isConfirmDeletePopup"
  (onisConfirmDeletePopupEmit)="
    onRecevedMethodForCloseConfirmDeletePopup($event)
  "
  [card]="card"
></app-feat-confirm-delete-popup>

<main class="card">
  <div class="container-btn">
    <app-ui-button
      class="button"
      (click)="openConfirmDeletePopup()"
      type="button"
      buttonName="Supprimer"
      [isButtonEnabled]="true"
    ></app-ui-button>
  </div>

  <div class="container-user">
    Mis en ligne par :
    <span id="user">
      {{ card.user.firstname }}
    </span>
  </div>

  <p class="timestamp">
    Posté le
    {{ card.timestamp | date : "dd/MM/yyyy" }} à
    {{ card.timestamp | date : "HH:mm" }}
  </p>

  <div *ngIf="card.picturesList.length > 0">
    <div>
      <img [src]="firstPictureSrc" alt="Image" />
    </div>
  </div>

  <div id="title" class="cardChild-elements">{{ card.title }}</div>

  <div class="container-door-fuel-transmission-year">
    <li id="door" class="cardChild-elements">{{ card.door }} Portes</li>
    <li id="fuel" class="cardChild-elements">{{ card.fuel }}</li>
    <li id="transmission" class="cardChild-elements">
      {{ card.transmission }}
    </li>
    <li id="year" class="cardChild-elements">{{ card.year }}</li>
  </div>

  <div class="container-kilometer-price">
    <div id="kilometer" class="cardChild-elements">
      {{ card.kilometer.toLocaleString() }}
      <span>Km</span>
    </div>

    <div id="price" class="cardChild-elements">
      {{ card.price.toLocaleString() }}
      <span>€</span>
    </div>
  </div>

  <div class="container-btn">
    <app-ui-button
      class="button"
      (click)="openEditDialogue()"
      type="button"
      buttonName="Modifier"
      [isButtonEnabled]="true"
    ></app-ui-button>
  </div>
</main>

<app-feat-edit-card-form
  *ngIf="isEditCardFormOpen"
  [card]="card"
  (onCloseEditCardFormEmit)="onRecevedMethodForCloseEditCardForm($event)"
></app-feat-edit-card-form>
