<div class="full-container">
    <form (ngSubmit)="onSubmit()">
    <div class="container-btn-cancel">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
    </div>

    <label for="image">Image</label>
    <input 
    type="text" 
    name="image" 
    id="image" 
    [(ngModel)]="card.image"
    >

    <label for="title">Titre</label>
    <input 
    type="text" 
    name="title" 
    id="title" 
    [(ngModel)]="card.title"
    >

    <label for="resume">Resume</label>
    <input 
    type="text" 
    name="resume" 
    id="resume" 
    [(ngModel)]="card.resume"
    >

    <button type="submit">Soumettre</button>
</form>
</div>
