<div class="full-form">

 <form (ngSubmit)="onSubmit()">

     
     <svg (click)="cancelPopup()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
         <path fill="none" d="M0 0h24v24H0z"/>
         <path d="M18 6L6 18M6 6l12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        
        <h3>{{ createMode ? 'Créer une carte' : 'Modifier la carte' }}</h3>
        

<div class="all-elements">

<div class="first-part">
    <label for="image">Image</label>
    <input 
    type="text" 
    name="image" 
    id="image" 
    [(ngModel)]="card.image"
    >
    <label for="title">Titre</label>
    <input 
    type="text" 
    name="title" 
    id="title" 
    [(ngModel)]="card.title"
    maxlength="33"
    >
    <label for="resume">Description</label>
    <input 
    type="text" 
    name="resume" 
    id="resume" 
    [(ngModel)]="card.resume"
    maxlength="60"
    >

    <div>
        <label for="fuel">Carburant</label>
       <select name="fuel" id="fuel" [(ngModel)]="card.fuel">
         <option value="Essence">Essence</option>
         <option value="Diesel">Diesel</option>
       </select>
    </div>
</div>


<div class="second-part">
    <label for="price">Kilomètrage</label>
    <input 
    type="number" 
    name="kilometer" 
    id="kilometer" 
    [(ngModel)]="card.kilometer"
    >
    <label for="price">Portes</label>
    <input 
    type="number" 
    name="door" 
    id="door" 
    [(ngModel)]="card.door"
    >
    <label for="price">Prix</label>
    <input 
    type="number" 
    name="price" 
    id="price" 
    [(ngModel)]="card.price"
    >

    <div>
        <label for="transmission">Transmission</label>
       <select name="transmission" id="transmission" [(ngModel)]="card.transmission">
         <option value="Automatique">Automatique</option>
         <option value="Manuelle">Manuelle</option>
       </select>
    </div>
</div>
    
</div>
<button type="submit">Soumettre</button>

</form>

</div>
