<div class="full-page">

    <p 
    *ngIf="
    notificationListReceived.length === 0
    " 
    class="notification-list-title"
    >
    Boite de réception vide
    </p>
    
    <p 
    *ngIf="
    notificationListReceived.length > 0
    " 
    class="notification-list-title"
    >
    Notifications reçus
    </p>


    <div 
    class="container-notification" 
    *ngFor="let notification of notificationListReceived"
    >

        <div class="notification">

            <div class="email">
                <p>Edité par :</p>
                <span>{{ notification.user.email }}</span>
             </div>
        
            <div class="timestamp">
                <p>Date :</p> 
                <span class="italic">{{ notification.timestamp | date:'dd/MM/yyyy à HH:mm' }}</span>
            </div>
        
            <div class="resume-expanded" *ngIf="notification.isExpanded || notification.resume.length <= 60">
            
                <p>{{ notification.resume }}</p>
        
                <button 
                *ngIf="notification.resume.length > 60" 
                class="read-more-btn" 
                (click)="onExpandNotification(notification)"
                title="Lire moins"
                >
                {{ notification.isExpanded ? '▲' : (notification.resume.length > 40 ? '▼' : '') }}
                </button>
        
            </div>
        
            <div class="resume-no-expanded" *ngIf="!notification.isExpanded && notification.resume.length > 60">
                
                <p>{{ notification.resume.substring(0, 60) }}...</p>
        
                <button 
                *ngIf="notification.resume.length > 60" 
                class="read-more-btn" 
                (click)="onExpandNotification(notification)"
                title="Lire plus"
                >
                {{ notification.isExpanded ? '▲' : (notification.resume.length > 40 ? '▼' : '') }}
                </button>
        
            </div>

            <button 
            (click)="onDeleteNotification(notification)"
            class="btn-cancel"
            title="Supprimer le message"
            >
            ✖
            </button>
            
        </div>


    </div>

</div>


<app-feat-confirm-delete-notification
*ngIf="isConfirmDeleteNotificationPopupOpen"
[notificationListReceived]="notificationListReceived"
[selectedNotification]="selectedNotification"
(onForCloseConfirmDeleteNotificationPopup)="onForCloseConfirmDeletePopup($event)"
></app-feat-confirm-delete-notification>
