<div class="full-page">

<div class="container-head">

  <div class="container-title">
    <h1>Bienvenue dans ton espace</h1>
    <div class="lastname-firstname">
      <span>{{ lastname }}</span>
      <span>{{ firstname }}</span>
    </div>
  </div>

  
    <nav>
      <ul>
        <app-feat-drop-down-menu
        (isConfirmDeleteCurrentUserPopupOpen)="onForOpenConfirmDeleteCurrentUserPopup($event)"
        (isContactPopupFormOpen)="onForOpenContactFormPopup($event)"
        (isUserReceivedMessageListOpen)="onForLoadUserReceivedMessageList($event)"
        (isUserMessageListOpen)="onForLoadUserMessageList($event)"
        (isGetDataOpen)="onForOpenGetData($event)"
        >
        </app-feat-drop-down-menu>

        <div 
        *ngIf="role === 'ROLE_ADMIN'" 
        class="menu-container">
           <li *ngFor="let menuItem of adminMainMenuItems">
             <a class="btn-nav" (click)="onAdminMainMenuItemClick(menuItem)">{{ menuItem.label }}</a>
           </li> 
        </div>
        <div 
        *ngIf="role === 'ROLE_USER'" 
        class="menu-container">
          <li *ngFor="let menuItem of userMainMenuItems">
            <a class="btn-nav" (click)="onUserMainMenuItemClick(menuItem)">{{ menuItem.label }}</a>
          </li> 
       </div>

      </ul>
    </nav>

</div>

<app-feat-search 
*ngIf="isUserCardListOpen || isAdminCardListOpen" 
></app-feat-search>

<app-feat-card-list
*ngIf="isAdminCardListOpen" 
class="container-card-list"
[isAdminCardListOpen]="isAdminCardListOpen"
></app-feat-card-list>

<app-feat-card-list
*ngIf="isUserCardListOpen" 
class="container-card-list"
[isUserCardListOpen]="isUserCardListOpen"
></app-feat-card-list>


<app-feat-card-list
*ngIf="isFavoriteListOpen" 
class="container-card-list"
[isFavoriteListOpen]="isFavoriteListOpen"
[favoriteCardList]="favoriteCardList"
></app-feat-card-list>

<app-feat-get-user-datas
*ngIf="isGetDataOpen"
class="container-user-search"
></app-feat-get-user-datas> 


<app-feat-confirm-delete-current-user-popup
*ngIf="isConfirmDeleteCurrentUserPopupOpen"
(onisConfirmDeletePopupEmit)="onForCloseConfirmDeleteUserPopup($event)"
></app-feat-confirm-delete-current-user-popup>


<app-feat-edit-card-form 
class="edit-card-form"
*ngIf="isEditCardFormOpen"
[createMode]="true"
(onCloseEditCardFormEmit)="onForCloseEditCardForm($event)"
></app-feat-edit-card-form>


<app-feat-contact-popup
class="contact-form"
*ngIf="isContactPopupFormOpen"
(onCloseContactPopupFormEmit)="onForCloseContactForm($event)"
></app-feat-contact-popup>


<app-feat-received-messages
*ngIf="isUserReceivedMessageListOpen"
></app-feat-received-messages>


<app-feat-message-history
*ngIf="isUserMessageListOpen"
></app-feat-message-history>

</div>

