* {
  font-family: Helvetica, sans-serif;
}

.full-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }

  svg {
    margin-left: auto;
    padding: 2px;
    color: whitesmoke;
  }
  svg:hover {
    transition: 200ms;
    color: rgb(255, 0, 0);
    cursor: pointer;
  }

  form {
    width: 23vw;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.755);
    border-radius: 10px;
    border: 4px solid rgb(37, 37, 37);
  }
  
  h2 {
    text-align: center;
    padding: 20px;
    color: rgba(245, 245, 245, 0.803);
    letter-spacing: 1.5px;
  }

  label {
    color: rgba(245, 245, 245, 0.803);
    font-size: large;
    letter-spacing: 1.5px;
  }
  #label-password {
    margin-top: 30px;
    color: rgba(245, 245, 245, 0.803);
  }

  input {
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.901);
  color: rgb(0, 0, 0);
  padding: 5px;
  outline: none;
  }

  button {
    width: 150px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.755);
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
  }
  button:hover {
   border: 2px solid rgb(0, 177, 0);
   transition: all 200ms;
  }



  .popup-sign-in-status {
    position: fixed;
    top: 10px; // 580px;
    left: -340px;
  }

  .popup-sign-in-status-animate {
  animation: slideInAndOut 2.5s forwards;
  }


  @keyframes slideInAndOut {
    0%, 100% {
      left: -350; 
    }
    15% {
      left: calc(1%);
    }
    85% {
      left: calc(1%);
    }
  } 