.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 230px;
  min-width: 230px;
  min-height: auto;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.close-icon {
  margin-left: auto;
}

h4 {
  text-align: center;
  font-weight: none;
  padding: 10px 20px;
  margin: 0;
  color: rgba(245, 245, 245, 0.803);
  letter-spacing: 1.5px;
  min-width: 13vw;
}

.button {
  margin: auto;
}
