.card-list {
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color:  transparent;
}

 .container-favorite-user-card-list {
    width: 90%;
    margin: auto;
    padding: 50px 0;
  }

  .favorite-card-list-title {
    font-size: 25px;
    color: whitesmoke;
    cursor: default;
    text-align: center;
    padding: 20px 0;
    background-color:  rgba(81, 81, 81, 0.492);
    margin-bottom: 50px;
  }