.card {
  width: 354px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.214);
}

.cardChild-elements {
  padding: 5px;
  color: rgb(208, 208, 208);
  cursor: default;
}

.container-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  color: rgb(221, 221, 221);
  cursor: default;
}

#user {
  padding: 0 5px;
  font-style: italic;
  font-size: 18px;
}

img {
  width: 100%;
  height: 260px;
}

#title {
  font-size: 20px;
  padding: 10px 10px;
  font-weight: bold;
  text-align: center;
}

.container-door-fuel-transmission-year {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.container-kilometer-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
#kilometer {
  font-size: 21px;
  align-items: center;
}

#km {
  font-size: 19px;
}
#ttc {
  font-size: 16px;
  margin-left: 10px;
}
#price {
  display: flex;
  align-items: center;
  font-size: 23px;
  gap: 5px;
  font-weight: bold;
}

#fuel {
  font-size: 15px;
  padding: 0 5px;
}

#transmission {
  font-size: 15px;
  padding: 0 5px;
}

#door {
  font-size: 15px;
  padding: 0 5px;
}

#year {
  font-size: 15px;
  padding: 0 5px;
}

.container-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  width: 200px;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  color: whitesmoke;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
a:hover {
  border: 2px solid rgb(0, 177, 0);
  transition: all 100ms;
  cursor: pointer;
  scale: 1.05;
}
