h1 {
  width: 27vw;
  min-width: 27vw;
  font-size: 25px;
  letter-spacing: 2px;
  font-style: italic;
  text-align: center;
  z-index: 1;
  font-family: cursive, sans-serif;
}

.a,
.p,
.m {
  font-size: 5vw;
  min-width: 5vw;
}
