<app-feat-confirm-delete-popup
*ngIf="isConfirmDeletePopup"
(onisConfirmDeletePopupEmit)="onRecevedMethodForCloseConfirmDeletePopup($event)"
[card]="card"
>
</app-feat-confirm-delete-popup>


<div class="card">

  <div class="container-btn">
    <button
    (click)="openConfirmDeletePopup()" 
    class="btn"
    >Supprimer cette carte
    </button>
  </div>

  <div>
    <img [src]="card.image" alt="Image">
  </div>

    <div
    id="title"
    class="cardChild-elements"
    >{{ card.title }}
  </div>

  <div class="container-door-fuel-transmission-year">
    <li
    id="door"
    class="cardChild-elements"
    >{{ card.door }} Portes
  </li>
  <li 
    id="fuel"
    class="cardChild-elements"
    >{{ card.fuel }}
  </li>
  <li 
    id="transmission"
    class="cardChild-elements"
    >{{ card.transmission }}
  </li>
  <li 
  id="year"
  class="cardChild-elements"
  >{{ card.year }}
</li>
</div>

<div class="container-kilometer-price">
  <div
    id="kilometer"
    class="cardChild-elements"
    >{{ card.kilometer }} 
    <span>Km</span>
  </div>
  <div
   id="price"
   class="cardChild-elements"
   >{{ card.price }}
   <span>€</span>
  </div>
</div>



  <div class="container-btn">
    <button 
    class="btn"
    (click)="openEditDialogue()"
    >{{ isEditCardFormOpen ? 'Fermer' : 'Modifier'}}
   </button>
  </div>

</div>

<app-feat-edit-card-form 
*ngIf="isEditCardFormOpen"
[card]="card"
(onCloseEditCardFormEmit)="onRecevedMethodForCloseEditCardForm($event)"
></app-feat-edit-card-form>


