.filter {
    display: flex;
    border: 1px solid #ccc;
    font-size: 0.9vw;
    color: #3b3b3b;
    border: 1px solid black;
  }

 input {
    width: 30vw;
    height: 30px;
    outline: none;
    font-size: 1vw;
    border: 1px solid black;
  }

  button{
    width: 32px;
    height: 32px;
  }
  

 
  

  
  