.filter {
    display: flex;
    border: 1px solid #ccc;
    font-size: 0.9vw;
    color: #3b3b3b;

  }

 input {
    width: 30vw;
    height: 30px;
    outline: none;
    font-size: 1vw;
   border: none;
    border-radius: 20px;
    padding: 5px;
  }

  svg {
    position: relative;
    right: 45px;
    top: 10px;
    cursor: pointer;
  }
  
  svg:hover {
 scale: 1.1;
  }
  
 
  

  
  