.full-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: transparent; 
  z-index: 1;
}

.filter {
    display: flex;
    font-size: 0.9vw;
    color: #f0f0f0;
    border: none;
    z-index: 1;
  }

#input-search {
    width: 25vw;
    height: 40px;
    outline: none;
    font-size: 1.3vw;
    font-family: sans-serif;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 5px 40px 5px 5px;
    background-color: rgba(0, 0, 0, 0.733);
    color: #e3e3e3;
    caret-color: none;
    background:  rgba(0, 0, 0, 0.733);
  }
  #input-search:focus {
    border-color: rgb(0, 177, 0); 
    transition: all 200ms;
  }

  #input-price {
    width: 9vw;
    height: 40px;
    outline: none;
    font-size: 1.3vw;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 5px 40px 5px 5px;
    background-color: rgba(0, 0, 0, 0.733);
    color: #e3e3e3;
  }

  #input-price::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  #input-price:focus {
    border-color: rgb(0, 177, 0); 
    transition: all 200ms;
  }

  #input-kilometric {
    width: 9.5vw;
    height: 40px;
    outline: none;
    font-size: 1.3vw;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 5px 40px 5px 5px;
    background-color: rgba(0, 0, 0, 0.733);
    color: #e3e3e3;
  }

  #input-kilometric::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  #input-kilometric:focus {
    border-color: rgb(0, 177, 0); 
    transition: all 200ms;
  }

  svg {
    position: relative;
    right: 35px;
    top: 5px;
    cursor: pointer;
  }
  
  svg:hover {
    transition: all 100ms;
    scale: 1.1;
  }
  
  svg:active {
    transition: all 100ms;
    scale: 1.0;
  }

  
  .full-no-cards-found-popup {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: transparent;
    padding: 20px;
    z-index: 1;
  }