.full-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

form {
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.755);
  border-radius: 10px;
  border: 4px solid rgb(37, 37, 37);
}

svg {
  margin-left: auto;
}
svg:hover {
  transition: 100ms;
  color: rgb(255, 0, 0);
  cursor: pointer;
  scale: 1.1;
}

h2 {
  width: 100%;
  height: 50px;
  text-align: center;
  letter-spacing: 1.5px;
}

p {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 15px;
}

label {
  width: 70%;
  height: 30px;
  display: flex;
  align-items: flex-end;
  font-size: large;
  letter-spacing: 1.5px;
  justify-content: flex-start;
  margin: auto;
}

input {
  width: 70%;
  height: 25px;
  min-height: 25px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.901);
  color: rgb(0, 0, 0);
  padding: 5px;
  outline: none;
  margin: auto;
  margin-bottom: 10px;
}

.container-password-and-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
}

.checkbox {
  position: absolute;
  top: 25%;
  right: 70px;
  width: 15px;
  height: 15px;
}

.checkbox:hover {
  cursor: pointer;
}

fieldset {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border: none;
}

.container-role {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#user-role-user,
#user-role-admin {
  width: 15px;
  height: 15px;
}

.container-user-role {
  width: 130px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  font-size: 10px;
}

button {
  width: 150px;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.866);
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  border: 2px solid rgb(0, 177, 0);
  transition: all 100ms;
  cursor: pointer;
  scale: 1.05;
}

.track-http-status {
  position: fixed;
  top: 10px;
  left: -340px;
}

.track-http-status-animate {
  animation: slideInAndOut 2.5s forwards;
}

@keyframes slideInAndOut {
  0%,
  100% {
    left: -350;
  }
  15% {
    left: calc(1%);
  }
  85% {
    left: calc(1%);
  }
}
