.full-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.755);
}

.all-elements {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preview-and-card {
  display: flex;
  flex-direction: column;
}

.close-icon {
  margin-left: auto;
  margin-right: 30px;
  color: rgb(165, 165, 165);
}

h4,
h2,
.create-mode-sub-title {
  text-align: center;
  padding: 15px;
  color: rgba(245, 245, 245, 0.803);
  letter-spacing: 1.5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.update-mode-sub-title {
  text-align: center;
  padding: 15px;
  color: rgba(245, 245, 245, 0.803);
  letter-spacing: 1.5px;
}

.container-first-part-second-part {
  display: flex;
  gap: 80px;
}

.first-part {
  display: flex;
  flex-direction: column;
}

.second-part {
  display: flex;
  flex-direction: column;
}

label {
  color: rgba(245, 245, 245, 0.803);
  font-size: large;
  letter-spacing: 1.5px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgba(245, 245, 245, 0.901);
  color: rgb(0, 0, 0);
  padding: 5px;
  outline: none;
  margin-bottom: 20px;
}

.container-transmission {
  display: flex;
  flex-direction: column;
}

#transmission {
  width: 315px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.901);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.container-fuel {
  display: flex;
  flex-direction: column;
}

#fuel {
  width: 315px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(245, 245, 245, 0.901);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.select-your-choise {
  color: grey;
}

.button {
  margin-left: auto;
}
