* {
    font-family: sans-serif;
  }

  .full-page {
     width: 100%;
     height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .popup {
      right: 300px;
      width: 230px;
      min-width: 230px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color:  rgba(0, 0, 0, 0.712);
      backdrop-filter: blur(10px);
      border-radius: 20px;
    }
  
    svg {
      margin-left: auto;
      padding: 2px;
      color: whitesmoke;
    }
    svg:hover {
      transition: 300ms;
      color: rgb(255, 0, 0);
      scale: 1.1;
      cursor: pointer;
    }
    
    span {
      text-align: center;
      padding: 10px 20px;
      color: rgba(245, 245, 245, 0.803);
      letter-spacing: 1.5px;
      min-width: 13vw;
    }
  
    button {
      width: 150px;
      padding: 10px;
      margin: auto;
      margin-bottom: 20px;
      border: 2px solid whitesmoke;
      border-radius: 10px;
      background-color:  rgba(0, 0, 0, 0.866);
      color: whitesmoke;
      font-size: 15px;
    }
    button:hover {
      cursor: pointer;
      border: 2px solid rgb(0, 177, 0);
      transition: all 200ms;
    }

