.full-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

form {
  width: 23vw;
  display: flex;
  flex-direction: column;
  padding: 60px;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.755);
  border-radius: 10px;
  border: 4px solid rgb(37, 37, 37);
}

form > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.close-icon {
  margin-left: auto;
}

.form-title {
  margin: auto;
  padding: 20px;
  color: rgba(245, 245, 245, 0.803);
  letter-spacing: 1.5px;
}

label {
  color: rgba(245, 245, 245, 0.803);
  font-size: large;
  letter-spacing: 1.5px;
}
#label-password {
  margin-top: 30px;
  color: rgba(245, 245, 245, 0.803);
}

input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.901);
  color: rgb(0, 0, 0);
  padding: 5px;
  outline: none;
}

.button {
  margin: auto;
}

.track-http-status {
  position: fixed;
  top: 10px;
  left: -340px;
}

.track-http-status-animate {
  animation: slideInAndOut 2.5s forwards;
}

@keyframes slideInAndOut {
  0%,
  100% {
    left: -350;
  }
  15% {
    left: calc(1%);
  }
  85% {
    left: calc(1%);
  }
}
