<div class="full-page">
  <form>
    <app-ui-close-icon
      class="close-icon"
      (click)="onCancelSignInForm()"
    ></app-ui-close-icon>

    <h2 id="form-title">Je me connecte</h2>

    <div>
      <label for="user-email">Email</label>
      <input
        type="email"
        name="user-email"
        id="user-email"
        maxlength="100"
        minlength="1"
        [(ngModel)]="userAuth.email"
        #inputEmail="ngModel"
        placeholder="Taper votre email"
      />
    </div>

    <div>
      <label id="label-password" for="user-password">Mot de passe</label>
      <input
        type="password"
        name="user-password"
        id="user-password"
        autocomplete="on"
        maxlength="100"
        minlength="1"
        [(ngModel)]="userAuth.password"
        #inputPassword="ngModel"
        placeholder="Taper votre mot de passe"
      />
    </div>
    <app-ui-button
      class="button"
      (click)="onSubmitAuth()"
      type="submit"
      buttonName="Connexion"
      [isButtonEnabled]="isSubmitButtonEnabled"
    ></app-ui-button>
  </form>
</div>

<app-track-http-status
  class="track-http-status"
  [class.track-http-status-animate]="isAnimationPopupSignInStatusActive"
></app-track-http-status>
