.full-page {
  width: 100vw;
  min-height: 93vh;
}

.container-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-bottom: 150px;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 35px;
  padding: 20px 0;
}

.lastname-firstname {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.lastname-firstname ul {
  gap: 30px;
}

nav {
  width: 90%;
  padding: 30px 0;
  margin: auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  list-style-type: none;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown {
  width: 250px;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.866);
  border: 2px solid whitesmoke;
  border-radius: 10px;
  text-align: center;
}

.dropdown:hover {
  border: 2px solid rgb(0, 177, 0);
  transition: all 100ms;
  cursor: pointer;
  scale: 1.05;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: rgba(0, 0, 0, 0.866);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  width: 100%;
  min-width: 100%;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.866);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 0;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: rgba(81, 81, 81, 0.866);
  cursor: pointer;
}

.favorite-card-list-title {
  font-size: 25px;
  cursor: default;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(81, 81, 81, 0.492);
  margin-top: 70px;
}

.favorite-card-list {
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
  padding: 20px 0;
}

.btn-nav {
  padding: 10px 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.866);
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}

.btn-nav:hover {
  border: 2px solid rgb(0, 177, 0);
  transition: all 100ms;
  cursor: pointer;
  scale: 1.05;
}

.card-operation-status {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
