<div class="full-popup">
  <div class="popup">
    <app-ui-close-icon
      class="close-icon"
      (click)="onCancelPopup()"
    ></app-ui-close-icon>

    <form (ngSubmit)="submit()">
      <div>
        <label *ngIf="dataToUpdate === 'firstname'" for="inputFirstname"
          >Nouveau prénom</label
        >
        <label *ngIf="dataToUpdate === 'lastname'" for="inputLastname"
          >Nouveau nom</label
        >

        <input
          *ngIf="dataToUpdate === 'firstname'"
          type="text"
          id="inputFirstname"
          name="newFirstname"
          [(ngModel)]="newFirstname"
          placeholder="Entrer le nouveau prénom"
        />
        <input
          *ngIf="dataToUpdate === 'lastname'"
          type="text"
          id="inputLastname"
          name="newLastname"
          [(ngModel)]="newLastname"
          placeholder="Entrer le nouveau nom"
        />
      </div>

      <app-ui-button
        *ngIf="dataToUpdate === 'firstname'"
        class="button"
        type="submit"
        buttonName="Changer mon prénom"
        [isButtonEnabled]="true"
      ></app-ui-button>

      <app-ui-button
        *ngIf="dataToUpdate === 'lastname'"
        class="button"
        type="submit"
        buttonName="Changer mon nom"
        [isButtonEnabled]="true"
      ></app-ui-button>
    </form>
  </div>
</div>
