<div class="full-page">

    <p 
    *ngIf="
    messageListReceived.length === 0 &&
    notificationListReceived.length === 0
    " 
    class="message-list-title"
    >
    Boite de réception vide
    </p>
    
    <p 
    *ngIf="
    messageListReceived.length > 0 ||
    notificationListReceived.length > 0 
    " 
    class="message-list-title"
    >
    Messages reçus
    </p>



    <div 
    class="container-message" 
    *ngFor="let message of messageListReceived"
    >

    <div class="message">

        <div class="email">
           <p>Edité par :</p>
           <span>{{ message.user.email }}</span>
        </div>

        <div class="timestamp">
            <p>Date :</p> 
            <span class="italic">{{ message.timestamp | date:'dd/MM/yyyy à HH:mm' }}</span>
        </div>

        <div class="resume-expanded" *ngIf="message.isExpanded || message.resume.length <= 60">
            <p>{{ message.resume }}</p>
            
            <button 
            *ngIf="message.resume.length > 60" 
            class="read-more-btn" 
            (click)="onExpandMessage(message)"
            title="Lire moins"
            >
            {{ message.isExpanded ? '▲' : (message.resume.length > 40 ? '▼' : '') }}
            </button>

        </div>

        <div class="resume-no-expanded" *ngIf="!message.isExpanded && message.resume.length > 60">
            <p>{{ message.resume.substring(0, 60) }}...</p>
            
            <button 
            *ngIf="message.resume.length > 60" 
            class="read-more-btn" 
            (click)="onExpandMessage(message)"
            title="Lire plus"
            >
            {{ message.isExpanded ? '▲' : (message.resume.length > 40 ? '▼' : '') }}
            </button>

        </div>

        <div class="container-reply-cancel">
            <button 
            type="submit" 
            class="reply-btn"  
            (click)="onReplyToMessage(message)"
            title="Répondre"
            >↩
            </button>
            
            <button 
            (click)="onDeleteMessage()"
            class="btn-cancel"
            title="Supprimer le message"
            >
            ✖
            </button>
        </div>

    </div>

    </div>
 
</div>


<app-feat-contact-popup
class="contact-form"
*ngIf="isContactPopupFormOpen"
[user]="user"
[role]="role"
[userDataForReplyTo]="userDataForReplyTo"
[isReplyMode]="true"
(onCloseContactPopupFormEmit)="onRecevedMethodForCloseContactForm($event)"
></app-feat-contact-popup>

<app-feat-confirm-delete-message
*ngIf="isConfirmDeleteMessagePopupOpen"
[messageListReceived]="messageListReceived"
(onForCloseConfirmDeleteMessagePopup)="onForCloseConfirmDeletePopup($event)"
></app-feat-confirm-delete-message>
