.full-page {
    width: 100%;
    margin: 30px 0;
}

.message-list-title {
    min-width: 1000px;
    font-size: 25px;
    cursor: default;
    text-align: center;
    padding: 15px 0;
    background-color:  rgba(81, 81, 81, 0.492);
    margin: 30px 0;
    color: whitesmoke;
  }

.container-message {
    width: 1000px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(75, 75, 75, 0.686);
    border-radius: 10px;
}

.italic {
  font-style: italic;
}

.message {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: whitesmoke;
    cursor: default;
}

.email, .timestamp {
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.resume-expanded, .resume-no-expanded {
  width: 500px;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-reply-cancel {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more-btn, .reply-btn {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color:  rgba(0, 0, 0, 0.866);
    border: 1px solid rgba(245, 245, 245, 0.218);
    border-radius: 10px;
}

.read-more-btn:hover, .reply-btn:hover {
    border: 1px solid rgb(0, 177, 0);
    transition: all 100ms;
    cursor: pointer;
    scale: 1.05;
}

  .btn-cancel {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(165, 165, 165);
    background-color:  rgba(0, 0, 0, 0.866);
  }

  .btn-cancel:hover {
    transition: 100ms;
    color: rgb(255, 0, 0);
    scale: 1.1;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
  }

  .confirm-delete-popup {
    position: fixed;
    top: 0;
    left: 0;
  }
