<div class="first-container">

    <button 
    id="btn-search-profil" 
    (click)="onOpenSearchProfilForm()"
    >{{ showSearchProfilForm ? 'Fermer le formulaire' : 'Rechercher un utilisateur' }}</button>


    <form (ngSubmit)="onSubmit()" *ngIf="showSearchProfilForm">
        <div class="container-search-profil">
          <label for="user-email-to-get">Email</label>
          <input 
          type="text" 
          id="user-email-to-get" 
          name="user-email-to-get" 
          [(ngModel)]="userEmailToGet"
          placeholder="Entrez le mail de l'utilisateur"
          >
        </div>
        <div class="container-btn">
           <button id="btn-submit-profil-user" type="submit">Lancer la recherche</button>
           <button 
           id="btn-submit-all-user" 
           name="admin" 
           (click)="getAllUsers()"
           >Rechercher tous</button>
        </div>
    </form>

    
            <div 
            class="main-container-user" 
            *ngIf="showSearchProfilResult"
            >
                <p class="resultShearch">Résultat de recherche</p>
                <div 
                class="container-search-user-result" 
                id="container-userFechted" 
                *ngIf="userFechted$ | async as userFechted">
                    <p class="title">Détail de l'utilisateur recherché</p>
                    <ul>
                        <li> {{userFechted.email}} </li>
                        <li> {{userFechted.firstname}} </li>
                        <li> {{userFechted.lastname}} </li>
                        <li> {{userFechted.role}} </li>
                    </ul>
                </div>
                
                
                <div 
                class="container-search-user-result" 
                id="container-alluserFechted" 
                *ngIf="allUsersFetched$ | async as allUsersFetched"
                >
                    <p class="title">Tous les utilisateurs</p>
        
                    <ul *ngFor="let user of allUsersFetched">
                        <li> {{user.email}} </li>
                        <li> {{user.firstname}} </li>
                        <li> {{user.lastname}} </li>
                        <li> {{user.role}} </li>
                    </ul>
                </div>
        
            </div>

</div>
    
