.first-container {
    width: 100%;
    display: flex;
}

#btn-search-profil {
    width: 350px;
    height: 45px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 25px;
    margin: 0 50px;
}
#btn-search-profil:hover {
    width: 350px;
    text-align: center;
    padding: 10px;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 100ms;
}

form {
    width: 450px;
    height: 200px;
    padding: 10px 20px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 25px;
    margin-top: 70px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 5px;
}

.container-search-profil {
    width: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-submit-profil-user, #btn-submit-all-user {
    width: 200px;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 25px;
    margin-top: 20px;
}
#btn-submit-profil-user:hover, #btn-submit-all-user:hover {
    width: 200px;
    text-align: center;
    padding: 5px;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    scale: 1.05;
    transition: all 100ms;
}

#btn-submit-profil-user:active, #btn-submit-all-user:active {
scale: 0.95;
transition: all 100ms;
}

.main-container-user {
    width: 400px;
    height: 200px;
    border-radius: 25px;
    padding: 10px 0;
    overflow: auto;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 70px;
}
.main-container-user::-webkit-scrollbar {
    width: 10px;
}
.main-container-user::-webkit-scrollbar-button {
    background-color: transparent;
}

.resultShearch {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 5px 0;
}

#user-email-to-get {
    width: 400px;
    height: 35px;
    border-radius: 10px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.741);
    margin-left: 20px;
}

.title {
    padding: 10px 0;
    padding-left: 15px;
    font-size: 20px;
    background-color: rgb(231, 231, 231);
}

ul {
    padding: 10px 0;
}

li {
    margin: 0 30px;
}

#container-userFechted {
    margin: 25px 0;
}