.full-popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
    position: absolute;
    color: whitesmoke;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    border: 2px solid  rgb(37, 37, 37);
    z-index: 1;
}
span {
    padding: 10px 0; 
}
.container-p {
    display: flex;
    justify-content: space-evenly;
}
p {
    width: 80px;
    height: 40px;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
p:hover {
    border: 2px solid rgb(0, 177, 0);
}