<div class="full-page" *ngIf="card">
  <main class="container-main">
    <div class="container-title-image-resume-button">
      <div class="container-title">
        <h2>{{ card.title }}</h2>
      </div>

      <div *ngIf="card.picturesList.length > 0">
        <div>
          <img [src]="firstPictureSrc" alt="Image" />
        </div>
      </div>

      <div class="container-svg-arrows">
        <app-ui-arrow-left-icon
          class="arrow-left"
          (click)="prevImage()"
        ></app-ui-arrow-left-icon>

        <app-ui-arrow-right-icon
          class="arrow-right"
          (click)="nextImage()"
        ></app-ui-arrow-right-icon>
      </div>

      <div class="container-resume">
        <p class="resume">{{ card.resume }}</p>
      </div>

      <div class="container-button">
        <app-ui-button
          id="button"
          buttonName="Acheter cette voiture"
          [isButtonEnabled]="true"
        ></app-ui-button>
        <app-ui-button
          id="button"
          buttonName="Contacter le propriétaire"
          [isButtonEnabled]="true"
        ></app-ui-button>
      </div>
    </div>

    <div class="container-right">
      <p class="string" id="title-r">Fiche technique</p>

      <div class="container-svg-and-match-elements">
        <app-ui-door-icon></app-ui-door-icon>
        <span class="number">
          {{ card.door }}
        </span>
      </div>

      <div class="container-svg-and-match-elements">
        <app-ui-fuel-icon></app-ui-fuel-icon>
        <span class="string">
          {{ card.fuel }}
        </span>
      </div>

      <div class="container-svg-and-match-elements">
        <app-ui-transmission-icon></app-ui-transmission-icon>
        <span class="string">
          {{ card.transmission }}
        </span>
      </div>

      <div class="container-svg-and-match-elements">
        <app-ui-kilometer-icon></app-ui-kilometer-icon>
        <span class="number"> {{ card.kilometer.toLocaleString() }} km </span>
      </div>

      <div class="container-svg-and-match-elements">
        <span id="price"> {{ card.price.toLocaleString() }} € </span>
      </div>
    </div>
  </main>
</div>
