<div class="full-navbar">

    <div class="container-title">
        <h1><span class="c">A</span>uto <span class="p">P</span>lace <span class="m">M</span>arket</h1>
      </div>

     
       

<div class="container-button-shoppong-and-account">

    <div class="container-button">
      <button (click)="createCard()" 
        >Mettre ma voiture
      </button>
    </div>
  
    <div class="container-button">
      <button 
        >Mon panier
      </button>
    </div>
  
    <div class="container-button">
      <button routerLink="/user-space">Mon compte</button>
   </div>

   <div class="container-button">
      <button routerLink="/admin">Admin</button>
   </div>

</div>
    




</div>

<app-feat-edit-card-form 
class="edit-card-form"
*ngIf="isFormCreateCard"
(isFormCreateCard)="toggleCardCreateForm($event)"
[createMode]="true"
></app-feat-edit-card-form>



<div class="full-popup-account">
  <app-feat-account-popup 
    class="popup-account"
    *ngIf="accountPopupService.isAccountPopupOpen$ | async"
    ></app-feat-account-popup>
</div>

<div 
class="container-search-bar"
>

<div class="search-bar"
[ngStyle]="{ 'animation-delay': delaySecondsForAnimationSearchBar + 's' }">
  <app-feat-search 
  ></app-feat-search>
</div>

</div>


