* {
  color: whitesmoke;
}

.full-header {
    position: relative;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-image: url("../../../../assets/img/image_entete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0; 
    animation: fadeIn 3s forwards;
}
.full-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.2);
  }

.container-title-and-nav {
  width: 100vw;
  height: 16vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

  .a, .p, .m {
    font-size: 5vw;
    min-width: 5vw;
  }
  
  h1 {
    width: 27vw;
    min-width: 27vw;
    font-size: 25px;
    font-family: cursive, sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    text-align: center;
    z-index: 1;
  }

  nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  li {
    width: 100%;
    display: flex;
    list-style-type: none;
}

  .container-button:hover {
    border: none;
  }

a {
  width: 10vw;
  padding: 10px 0;
  text-align: center;
  background-color:  rgba(0, 0, 0, 0.733);
  border: 2px solid rgb(241, 241, 241);
  border-radius: 10px;
  font-size: 16px;
  font-family: sans-serif,Helvetica, Arial;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  transition: all 200ms;
  border: 2px solid rgb(0, 177, 0);
}




.edit-card-form {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 3;
}

.full-popup-account {
  position: absolute;
  top: 80px;
  left: 40%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.contact-form-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.container-search-bar {
  position: relative;
  bottom: 100px;
  z-index: 1;
}

.search-bar {
  transform: translateX(100%);
  animation: slide-from-right 1s forwards;
  z-index: 1;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}