.full-navbar {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-image: url("../../../../assets/img/image_entete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.full-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  
.container-title {
    width: 30vw;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    z-index: 1;
  }
  
  .c, .m {
    color: whitesmoke;
    font-size: 5vw;
  }
  
  h1 {
    width: 70vw;
    height: 90px;
    font-size: 30px;
    font-family: cursive, sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    color: whitesmoke;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .container-button-shoppong-and-account {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 0;
  }

  .container-button {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.733);
    color: whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    z-index: 1;
    border-radius: 10px;
}
  .container-button:hover {
    border: none;
  }

button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgba(0, 0, 0, 0.733);
  border: 2px solid rgb(241, 241, 241);
  border-radius: 10px;
  color: whitesmoke;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}
button:hover {
  transition: all 200ms;
  border: 2px solid rgb(0, 177, 0);
}

.full-popup-account {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
