<div class="full-navbar">

    <div class="container-title">
        <h1><span class="c">C</span>ar <span class="c">C</span>ollection <span class="m">M</span>arket</h1>
      </div>

     
       

<div class="container-button-shoppong-and-account">

    <div class="container-button">
      <button (click)="createCard()" 
        >Mettre ma voiture
      </button>
    </div>
  
    <div class="container-button">
      <button 
        >Mon panier
      </button>
    </div>
  
    <div class="container-button">
      <button 
      (click)="OpenAccountPopup()"
      >Mon compte
      </button>
   </div>

   <div class="container-button">
      <button routerLink="/admin">Admin</button>
   </div>

</div>
    


<app-feat-edit-card-form 
*ngIf="isFormCreateCard"
(isFormCreateCard)="toggleCardCreateForm($event)"
[createMode]="true"
></app-feat-edit-card-form>

<div class="full-popup-account">
  <app-feat-account-popup 
    class="popup-account"
    *ngIf="isAccountPopupOpen"
  ></app-feat-account-popup>
</div>
<!-- (isAccountPopupOpenEmit)="onRecevedMethodForCloseAccountPopup($event)" -->

</div>


<div class="container-search-bar">
  <app-feat-search></app-feat-search>
</div>


