.container-succes,
.container-error {
  font-size: 16px;
  width: 370px;
  height: 80px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  border: 4px solid rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.succes {
  color: rgb(221, 221, 221);
  text-align: center;
}
.error {
  color: rgb(218, 43, 43);
  text-align: center;
}
